---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.linkedin.com/in/dylan-chin-8964ba284",
    description: "Contact me via LinkedIn",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://github.com/dynotics",
    description: "View my GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://dynotics.itch.io/",
    description: "View my Itch.io Page",
    icon: "simple-icons:itchdotio",
  },
  {
    url: "https://www.instagram.com/solarflies/?hl=en",
    description: "View my Instagram art account",
    icon: "fa-brands:instagram",
  },
];
---
<footer class="relative flex h-64 items-center justify-center border-t border-white/40">
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

