---
import ContentSection from "~/components/content-section.astro";
import { Image } from "astro:assets";
import { projects } from "~/data/projects";
---

<ContentSection title="Projects" id="projects">
  <div class="flex flex-wrap justify-center gap-4">
    {projects.map((project) => (
      <a
        href={`/projects/${project.slug}`}
        class="group relative overflow-hidden border border-zinc-800 bg-zinc-900 shadow-lg w-full sm:w-[48%] md:w-[32%]"
      >
        <Image
          src={project.image}
          alt={`A screenshot of ${project.title}`}
          class="h-full w-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-20"
          widths={[450, 800]}
          sizes="(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw"
        />
        <h3 class="absolute inset-0 flex items-center justify-center text-4xl font-extrabold text-white uppercase text-center leading-tight px-2">
          {project.title}
        </h3>
      </a>
    ))}
  </div>
</ContentSection>
